* { display:block; }
*::before,
*::after {
  color: red;
}
html::before {content:'<html>'}
html::after {content:'</html>'}
head::before {content:'<head>'}
head::after {content:'</head>'}
title::before {content:'<title>'}
title::after {content:'</title>'}
script::before {content:'<script>'}
script::after {content:'</script>'}
link::before {content:'<link>'}
link::after {content:'</link>'}
body::before {content:'<body>'}
body::after {content:'</body>'}
h1::before {content:'<h1>'}
h1::after {content:'</h1>'}
ul::before {content:'<ul>'}
ul::after {content:'</ul>'}
li::before {
  margin-left: 20px;
  content:'<li>'
}
li::after {content:'</li>'}
a::before {content:'<a>'}
a::after {content:'</a>'}

ul {
  display: table;
  position: relative;
}

li {
  list-style: none;
  display: table-row;
  position: relative;
}

li > div {
  display: table-cell;
}
