.item {
  margin-bottom: 2em;
}

.shape {
  position: relative;
  background-color: rgba(0,0,0,0.05);
  width: 50vw;
  height: 30vw;
  margin: 1.5em 0 0.5em 2em;

  &::before {
    position: relative;
    top: -1.5em;
    left: -1em;
  }

  &::after {
    position: absolute;
    bottom: -1.5em;
    left: -1em;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

.seeds {
  position: absolute;
  left: calc(100% + 1em);
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: calc(50vw + 3em);

  &::before,
  &::after,
  > *::before,
  > *::after {
    display: none;
    content: none;
  }
}
